services:
  ruby:
    image: ruby:${RUBY_VERSION:-3.4}
    environment:
      HISTFILE: /app/tmp/.bash_history
      BUNDLE_PATH: /usr/local/bundle
      BUNDLE_CONFIG: /app/.bundle/config
      DATABASE_URL: postgres://postgres:@postgres:5432
      REDIS_URL: redis://redis:6379/0
    command: bash
    working_dir: /app
    volumes:
      - .:/app:cached
      - bundler_data:/usr/local/bundle
    tmpfs:
      - /tmp
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

  postgres:
    image: postgres:13
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - 5432
    healthcheck:
      test: pg_isready -U postgres -h 127.0.0.1
      interval: 10s
    volumes:
      - postgres:/var/lib/postgresql/data

  redis:
    image: redis:7
    healthcheck:
      test: redis-cli ping
      interval: 10s

volumes:
  bundler_data:
  postgres:
